<%= render :partial => 'shared/header' %>

<h1><%= @user.name %>さんの面接一覧</h1>

<p><span class="b">現在の面接日時:</span>
<%= l(@user.interviews.find_by(availability: 'accept')&.date, format: :long) %></p>
<p>面接日程を変更する場合は以下から選んでください。</p>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.interviews.each do |interview| %>
      <% if interview.date.strftime("%Y%m%d%H%M").to_i > Time.zone.now.strftime("%Y%m%d%H%M").to_i %>
        <tr>
          <td><%= link_to l(interview.date, format: :long),
          interview_path(interview, params: { interview: { availability: 'accept' } }, :user_id => interview.user_id),
          method: :patch,
          data: { confirm: '面接を承認しますか？' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規面接作成', new_interview_path %>
