<p id="notice"><%= notice %></p>
<%= link_to "プロフィール",  edit_user_registration_path, method: :get %>
<%= link_to "面接一覧",  interviews_path, method: :get %>
<%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>

<h1><%= @user.name %>さんの面接一覧</h1>

<table>
  <thead>
    <tr>
      <th>面接日時</th>
      <th>可否</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.interviews.each do |interview| %>
      <tr>
        <td><%= interview.date %></td>
        <td><%= interview.availability_i18n %></td>
        <td><%= interview.user %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規面接作成', new_interview_path %>
