<%= link_to "e-Navigator",  root_path, method: :get %>
<% if user_signed_in? %>
  <%= link_to "プロフィール",  edit_user_registration_path, method: :get %>
  <%= link_to "面接一覧",  interviews_path(id: current_user.id), method: :get %>
  <%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>
<% end %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
